.main-container {
    background-color: transparent;
}
.main-wrapper {
    margin: auto;  
    /*background-position: cover;*/
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 54px;
  padding: 0px 0px 0px;
  margin: 0px;
  background: transparent;
  background-repeat: repeat-x;
  position: fixed;
  z-index: 100!important;
  clear: both;
}
.navbar-default {
  background-color: ghostwhite;
  border-color: transparent;
  border-radius: 0px;
  width: 100%;
  border-radius-top: 0px;
  border-bottom: 8px solid grey;
  padding-top: 5px;
  /*border-radius-bottom: 10%;*/
}
.nav-links {
  float: right;
}
.navbar-default .navbar-nav li a {
  color: #777;
}
.navbar-default .navbar-nav li a:hover {
  color: red;
}

@media (max-width: 767px) {
  .nav-links {
    font-size: 1.25em;
    margin-left: 60px;
  }
}

.nav-logo {
  padding: 0px;
  /*border: 1px solid black;*/
  height: 50px;
  width: 50px;
}
.nav-logo img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}
.navbar-header h3 {
  display: block;
  font-size: 1.5em;
  color: #777;
  text-align: left;
  margin-left: 50px;
  padding-left: 15px;
  white-space: nowrap;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .navbar-header h3 {
    font-size: 1.25em;
    margin-left: 60px;
  }
}
@media (max-width: 400px) {
  .navbar-header h3 {
    display: none;
  }
}
.top-content {
  width: 100%;
  background-color: black;
  height: 300px;
  position: absolute;
}
.top-content h1 {
  text-align: center;
  color: white;
  padding-top: 100px;
}
.body-content {
  clear: both;
  display: inline-block;
  overflow: auto;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  /*min-height: 2000px;*/
  /*position: relative;*/
}
